#root {
  width: 100%;
  height: 100%;
}

html{
  font-size: 20px;
}

div.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 100vh;
  box-sizing: border-box;
}

div .map-container {
  width: 100%;
  height: 100%;
}

svg {
  width: 100%;
  height: 100%;
}

svg.map {
  background-color: #e0f7fa;
}

svg .state {
  fill: #60b4ac;
}

svg .area {
  fill: #a1d3bf;
}

svg .patch {
  fill: #198d8c;
}
svg .selected {
  fill: #ffa500 !important;
}

svg .state,
.area,
.patch {
  stroke: #333333;
  stroke-width: 0.5px;
  vector-effect: non-scaling-stroke;
  cursor: pointer;
}

svg .state:hover,
.area:hover,
.patch:hover {
  stroke: #ffa500;
  stroke-width: 2px;
  vector-effect: non-scaling-stroke;
  cursor: pointer;
}


.table-root {
        width: auto;
        padding: 3rem;
    }

.paper {
        /*height: '85vh';*/
        /*width: '100%';*/
    }

.container {
        height: 77.5vh;
    }
    
.table {
        /*height: 100%;*/
        /*min-width: 750;*/
    }
    
.visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1;
    margin: -1;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 2;
    width: 1;
}