#root {
  width: 100%;
  height: 100%;
}

div.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 100vh;
  box-sizing: border-box;
}

div .map-container {
  width: 100%;
  height: 100%;
}

svg {
  width: 100%;
  height: 100%;
}

svg.map {
  background-color: #e0f7fa;
}

svg .state {
  fill: #60b4ac;
}

svg .area {
  fill: #a1d3bf;
}

svg .patch {
  fill: #198d8c;
}

svg .state,
.area,
.patch {
  stroke: #333333;
  stroke-width: 0.25px;
  cursor: pointer;
}

svg .state:hover,
.area:hover,
.patch:hover {
  stroke: #ffa500;
  stroke-width: 2px;
  cursor: pointer;
}
